.mint-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 11em 0;
    padding: 5em;
    border-radius: 1em;
    background-color: rgba(217, 217, 217, 0.05);
    height: 35vh;
}

.project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 11em 0;
    padding: 5em;
    border-radius: 1em;
    background-color: rgba(217, 217, 217, 0.05);
    height: 40vh;
}

.mint-form h2 {
    color: #7DE38D;
    font-size: 3em;
    font-weight: 500;
}

.project-form h2 {
    color: #7DE38D;
    font-size: 3em;
    font-weight: 500;
}

.mint-form div {
    display: flex;
    margin-bottom: 1.5em;
}

.project-form div {
    display: flex;
    margin-bottom: 1.5em;
}

.mint-form div input {
    width: 100%;
    padding: 1em;
    border-radius: 2em;
    border: none;
    background-color: rgba(217, 217, 217, 0.35);
    text-align: center;
}

.project-form div input {
    width: 100%;
    padding: 1em;
    border-radius: 2em;
    border: none;
    background-color: rgba(217, 217, 217, 0.35);
    text-align: center;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows {
    -moz-appearance: textfield;
}

.mint-form div ::placeholder {
    color: inherit;
}

.project-form div ::placeholder {
    color: inherit;
}

.mint-form div label img{
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.project-form div label img{
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.mint-form button {
    width: 40%;
    color: #7DE38D;
    border: solid 1px #7DE38D;
    padding: 1em 2em;
    margin: 2em 0;
    border-radius: 35px;
    background-color: transparent;
    cursor: pointer;
}

.project-form button {
    width: 40%;
    color: #7DE38D;
    border: solid 1px #7DE38D;
    padding: 1em 2em;
    margin: 0 2em;
    border-radius: 35px;
    background-color: transparent;
    cursor: pointer;
}